@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", serif;
  color: white;
}

.btn {
  @apply bg-white rounded-[11px] p-[10px] pb-[40px] text-corange h-[40px];
}

.burger {
  /* display: none; */
}

input::placeholder {
  color: #ff8a4294;
  font-weight: 600;
}
