@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", serif;
  color: white;
}

.btn {
  @apply bg-white rounded-[11px] p-[10px] pb-[40px] text-corange h-[40px];
}

.burger {
  /* display: none; */
}

input::placeholder {
  color: #ff8a4294;
  font-weight: 600;
}

.orange-input::placeholder {
  color: white;
}

.center-horizontal {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
}

.between-card {
  @apply rounded-[11px] text-center pt-[25px] bg-corange w-[300px] h-[150px];
}

legend {
  @apply text-corange;
}

.search-input {
  @apply rounded-[11px] text-corange border-2 border-corange w-[600px] h-[50px];
}

label {
  @apply text-corange text-[20px] font-bold;
}

placeholder-corange::placeholder {
  color: #ffa500; /* Example color, you can change it */
}
